@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');
body {
	/*padding-top: 70px;*/
	font: 100%;
}

div {
	display: block;
	overflow: hidden;
}

a:hover, a:focus {
	color: #BC1A1A;
}

p {
	font-size: 14px;
}
/*Bootstrap Overwrite*/

/*Class Shortcuts*/
.hidden {
	display: none;
}

.left {
	display: block;
	margin-left: 0;
	margin-right: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right {
	display: block;
	margin-left: auto;
	margin-right: 0;
}

.float-right {
	float: right;
}

.p-color {
	color: #BC1A1A;
}

.r-color {
	color: rgb(245, 158, 23);
}

.font-light {
	font-weight: 300;
}

.p-btn {
	display: block;
	width: 150px;
	height: 50px;
	background-color: transparent;
	color: #BC1A1A;
	border-color: #BC1A1A;
	border: 1px solid;
	border-radius: 6px;
	font-size: 1.1em;
	box-shadow: none;
}

.p-btn:hover {
	background-color: #BC1A1A;
	color: white;
}

.default-font {
	color: #5C5C5C;
}

.white-font {
	color: white;
}

.font-underline {
	text-decoration: underline;
}
/** Navbar **/
.navbar {
	position: absolute;
    z-index: 1;
	padding-top: 10px;
    width: 100%;
	height: 70px;
	font-size: 17px;
	background-color: transparent;
}

.navbar-nav > li {
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-inverse {
	margin-top: 25px;
	border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
     color: white; 
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #BC1A1A;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #BC1A1A;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #5C5C5C;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #BC1A1A;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  /*border-color: #101010;*/
  background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #BC1A1A;
}

/** Shared Divs **/
.footer {
	margin: 0;
	padding: 0;
	height: 150px;
	background-color: #333;
}

/** Home Page **/

.home-row {
	min-height: 200px;
}

#home-row-location {
	padding-top: 30px;
	padding-bottom: 30px;

	height: auto;
	background-color: #BC1A1A;
	text-align: center;
	color: white;
}

#home-row-location > h3{
	margin: 0;
	font-weight: 200;
	font-size: 28px;
}

#home-row-night-edm {
	background-image: url(../images/home-night-edm.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#row-features {
	padding-top: 60px;
	padding-bottom: 60px;
}

.jumbotron {
	margin-bottom: 0;
}

.home-jumbotron {
	height: 680px;
	color: rgba(255, 255, 255, 0.85);

	/*background-color: #BC1A1A;*/
	background-image: url(../images/home-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.home-jumbotron > div {
	/*vertical-align: middle;*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.home-jumbotron > div > .head {
	/*margin-bottom: 5%;*/

	display: inline-block;
	padding: 10px;
	width: 60%;
	height: 170px;
	border: 8px solid;
	background-color: rgba(35, 35, 37, 0.6);

}

.home-jumbotron > div > .head > h2 {
	font-size: 3.7em;
}

.home-jumbotron > div > .head > p {
	font-weight: 400;
}

.subscribe-row {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #BC1A1A;
}

.subscribe-form-container {
	padding-left: 6%;
	padding-right: 6%;
}

.home-input-element-p {
	margin: 0;
}

#home-email {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 50%;
	color: white;
    border: none;
    background-color: #BC1A1A;
    font-size: 25px;
    outline: none;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

#home-submit {
	padding: 15px;
	float: right;
	font-size: 20px;
	font-weight: 300;
	color: white;
	background-color: #BC1A1A;
	border: 2px solid;
	border-color: white;
}

#home-submit:hover {
	cursor: pointer;
}

.why-vermillion {
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	padding-left:;
	height: 600px;
	background-color: white;
}

.why-vermillion > div {
	margin-bottom: 40px;
}

.why-vermillion > .body, .why-vermillion > .foot {
/*	padding-left: 5%;
	padding-right: 5%;*/
}



.v-advantage > div {
	margin-bottom: 40px
}

.home-side {
	height: 600px;
	background-image: url(../images/home-side.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-link {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #BC1A1A;
	background-image: url(../images/home-cta-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.home-cta-img, .home-cta-text {
	width: 80%;
}

.home-cta-img {
	max-width: 380px;
}

.home-cta-text {
	font-weight: 300;
}

.home-contact {
	margin-bottom: 0;
	padding-top: 60px;
	padding-bottom: 60px;
	min-height: 300px;
}

.home-contact > div {
	margin-bottom: 10px;
}

.home-contact-btn {
	background-color: #BC1A1A;
}
/** Sub Pages **/
.sub-row {
	min-height: 300px;
}

/** Team Page **/
.team-headbanner {
	padding-top: 60px;
	background-color: rgba(66, 139, 202, 0.9);
}

.team-headbanner > .container > .head > h2 {
	font-size: 3.6em;
}

.team-headbanner > .container > .head > p {
	font-size: 2.0em;
	font-weight: 300;
}

.team-intro {
	padding-top: 60px;
	padding-bottom: 60px;
}

.team-intro > .container > .head > div {
	margin-top: 20px;
}

.team-intro > .container > .head > div > h2 {
	font-weight: 400;
}

.team-intro > .container > .body {
	margin-top: 30px;
}

.team-intro > .container > .body > h2 {
	font-weight: 400;
}

.team-intro > .container > .body > div {
	margin-top: 30px;
}

.team-history {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #777;
}

.team-history >  .container > .body > div {
	margin-top: 30px;
	margin-bottom: 30px;
}

.team-history > .container > .head > h2, .team-history > .container > .head > p {
	font-weight: 300;
}

.accomplishment-row > .col-md-6 > p {
	font-weight: 300;
}

.accomplishment-img {
	width: 90%;
}

/** Floorplan Page **/
.fp-headbanner {
	height: 50vh;
	/*background-color: #BC1A1A;*/
	background-image: url("../images/home-night-edm.jpeg");
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.blue-overlay {
	height: 400px;
	padding-top: 170px;
	/*background-color: rgba(66, 139, 202, 0.9);*/
}

.blue-overlay > h2 {
	font-size: 3.6em;
}

.blue-overlay > p {
	font-size: 2.0em;
	font-weight: 300;
}

.fp-fp-container {
	padding-top: 40px;
	padding-bottom: 40px;
}

.floor-selector-container {
	padding-top: 30px;
}

.floor-selector-container > ul {
	list-style-type: none;
}

.floor-selector-container > ul > li {
	margin-bottom: 30px;
}

.floor-selector {
	cursor: pointer;
	font-size: 1.5em;
	color: #999999;
}

.floor-selector.active {
	color: black;
	text-decoration: underline;
}

.second-container, 
.third-container, 
.fourth-container, 
.fifth-container, 
.sixth-container {
	display: none;
}

.floor-img-container.active {
}

.floor-img {
	position: relative;
	width: 100%;
}

.label-row {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 33%;
}

.row-two {
	top: 33%;
}

.row-three {
	top: 66%;
}

.text-label > span {
	position: absolute;
	width: 20%;
	height: 100%;
}

.col-one {
	left: 0;
}

.col-two {
	left: 20%;
}

.col-three {
	left: 40%;
}

.col-four {
	left: 60%;
}

.col-five {
	left: 80%;
}

.status-available {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #BC1A1A;
	border-radius: 50%;
}

.suite-clickable.active {
	text-decoration: underline;
}

.suite-clickable.active > span {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background: #BC1A1A;
}

.suite-clickable.active > span > .status-available {
	background: white;
}

.suite-clickable.active > span > .suite-number {
	color: white;
}

/*main floor row one*/
.main-row-one > span > p {
	position: absolute;
	margin-top: 40%;
	width: 100%;
	text-align: center;
}

.main-row-one > .col-two {
	padding-left: 2%;
}

.main-row-one > .col-four > p {
	padding-right: 30%;
}

.main-row-one > .col-five > p {
	padding-right: 50%;
}

/*main floor row two*/
.main-row-two > span > p {
	position: absolute;
	margin-top: 25%;
	width: 100%;
	text-align: center;
}

.main-row-two > .col-five > p {
	padding-right: 40%;
}

/*main floor row three*/
.main-row-three > span > p {
	position: absolute;
	margin-top: 21%;
	width: 100%;
	text-align: center;
}

.col-one > p {
	padding-left: 30%;
}

.main-row-three > .col-five > p {
	padding-right: 35%;
}

.suite-clickable:hover {
	cursor: pointer;
	text-decoration: underline;
}

/*Suite Intro Section*/
.suite-intro-container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.suite-text-container {
	padding-left: 50px;
}

.suite-type {
	display: inline-block;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	color: white;
	background: #BC1A1A;
	font-weight: 300;
	font: 1.5em;
}

.room-availability {
	margin-top: 20px;
	margin-bottom: 20px;
}

.suite-recommendation {
	font-size: 1.3em;
}

.floor-recommendation {
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-text {
	margin-top: 20px;
	margin-bottom: 20px;
}

.suite-recommendation-number {
	padding-left: 50px;
}

#loft {
	display: none;
}

.suite-image {
	width: 90%;
}

.loft-image{
	width: 400px;
}

/** Team Page **/
.neighbourhood-banner {
	padding-top: 60px;
	/*background-color: #BC1A1A;*/
	background-image: url("../images/neighbourhood-bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-h2 {
	font-size:3.6em;
}

.banner-p {
	font-size: 2.0em;
}

.location, #map-canvas, .view {
	margin-top: 40px;
	margin-bottom: 40px;
}

.view-img {
	width: 100%;
}

.shopping, .transportation, .future-dev {
	margin-bottom: 40px;
}

