body {
	padding-top: 70px;
	font: 100%;
}

div {
	display: block;
	overflow: hidden;
}

.left {
	display: block;
	margin-left: 0;
	margin-right: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right {
	display: block;
	margin-left: auto;
	margin-right: 0;
}

.float-right {
	float: right;
}

.p-color {
	color: rgb(91, 166, 229);
}

.r-color {
	color: rgb(245, 158, 23);
}

.font-light {
	font-weight: 300;
}

.p-btn {
	display: block;
	width: 150px;
	height: 50px;
	background-color: transparent;
	color: rgb(91, 166, 229);
	border-color: rgb(91, 166, 229);
	border: 1px solid;
	border-radius: 6px;
	font-size: 1.1em;
	box-shadow: none;
}

.p-btn:hover {
	background-color: rgb(91, 166, 229);
	color: white;
}

.default-font {
	color: #5C5C5C;
}

.white-font {
	color: white;
}

.font-underline {
	text-decoration: underline;
}
/** Navbar **/
.navbar {
	padding-top: 10px;
	height: 70px;
	font-size: 17px;
	background-color: white;
}

.navbar-nav > li {
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: rgb(91, 166, 229);
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: rgb(91, 166, 229);
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #5C5C5C;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: rgb(91, 166, 229);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #101010;
  background-color: white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: rgb(91, 166, 229);
}

/** Shared Divs **/
.footer {
	margin: 0;
	padding: 0;
	height: 150px;
	background-color: #333;
}

/** Home Page **/

.home-row {
	min-height: 200px;
}

.home-jumbotron {
	padding-top: 10%;
	height: 680px;
	color: rgba(255, 255, 255, 0.85);

	background-color: rgb(91, 166, 229);
	background-image: url(../images/home.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.home-jumbotron > div {
	vertical-align: middle;
}

.home-jumbotron > div > .head {
	margin-bottom: 5%;
	width: 60%;
	height: 170px;
	background-color: rgba(35, 35, 37, 0.6);

}

.home-jumbotron > div > .head > h2 {
	font-size: 3.7em;
}

.home-jumbotron > div > .head > p {
	font-weight: 100;
}

#home-email {
	padding-left: 20px;
	width: 60%;
	height: 2.3em;
	border: 1px solid;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#home-submit {
	margin-left: -2px;
	width: 20%;
	height: 2.3em;
	font-size: 0.96em;
	font-weight: 300;
	color: white;
	background-color: rgb(91, 166, 229);
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#home-submit:hover {
	opacity: 0.9;
}

.why-vermillion {
	/*padding-left: 5%;*/
	padding-top: 40px;
	/*padding-right: 5%;*/
	/*padding-bottom: 60px;*/
}

.why-vermillion > div {
	margin-bottom: 40px;
}

.why-vermillion > .body, .why-vermillion > .foot {
/*	padding-left: 5%;
	padding-right: 5%;*/
}

.v-advantage > div {
	margin-bottom: 40px
}

.banner-link {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: rgb(91, 166, 229);
	background-image: url(../images/home-cta-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.home-cta-img, .home-cta-text {
	width: 80%;
}

.home-cta-img {
	max-width: 380px;
}

.home-cta-text {
	font-weight: 300;
}

.home-contact {
	margin-bottom: 0;
	padding-top: 60px;
	padding-bottom: 60px;
	min-height: 300px;
}

.home-contact > div {
	margin-bottom: 10px;
}

.home-contact-btn {
	background-color: rgb(91, 166, 229);
}
/** Sub Pages **/
.sub-row {
	min-height: 300px;
}

/** Team Page **/
.team-headbanner {
	padding-top: 60px;
	background-color: rgb(91, 166, 229);
}

.team-headbanner > .container > .head > h2 {
	font-size: 3.6em;
}

.team-headbanner > .container > .head > p {
	font-size: 2.0em;
	font-weight: 300;
}

.team-intro {
	padding-top: 60px;
	padding-bottom: 60px;
}

.team-intro > .container > .head > div {
	margin-top: 20px;
}

.team-intro > .container > .head > div > h2 {
	font-weight: 400;
}

.team-intro > .container > .body {
	margin-top: 30px;
}

.team-intro > .container > .body > h2 {
	font-weight: 400;
}

.team-intro > .container > .body > div {
	margin-top: 30px;
}

.team-history {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: rgb(91, 166, 229);
}

.team-history >  .container > .body > div {
	margin-top: 30px;
	margin-bottom: 30px;
}

.team-history > .container > .head > h2, .team-history > .container > .head > p {
	font-weight: 300;
}

.accomplishment-row > .col-md-6 > p {
	font-weight: 300;
}

.accomplishment-img {
	width: 90%;
}

/** Neighbourhood Page **/
